---
app:
  persistence:
    datasource:
      driver-class-name: com.mysql.jdbc.Driver
      username: root
      password: root
      url: jdbc:mysql://localhost:3307/umasio?autoReconnect=true&useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&createDatabaseIfNotExist=true
    
    jpa:
      dialect: org.hibernate.dialect.MariaDB53Dialect
      generate-ddl: true
      show-sql: false
      properties:
        hibernate.temp.use_jdbc_metadata_defaults: false
  # When is true, SPARQL query results are getted from federation services, else these information are getted from fuseki
  federation:
    services: false
  # trellis
  fusekitrellis:
    url: http://localhost:3030/trellis/sparql
  # Service who get Sparql query results from all nodes
  federationAll:
    url: http://localhost:9328/federation/nodes/all
  # Service who get Sparql query results from certain nodes
  federationNode:
    url: http://localhost:9328/federation/nodes/list
  serviceDiscoveryExcludeNodes:
    url: https://linkeddata1.um.es/service-discovery/service-discovery/exclude/nodes/name
  node: um
  # CORS
  cors:
    enabled: true
    allowedOrigin: '*'
    allowedMethods: GET,POST,PUT,DELETE
    allowedHeaders:
      - Authorization
      - X-Requested-With
      - Content-Type
    maxAge: 3600

  # Cache configuration
  cache:
    embedded:
      enabled: true

  # Swagger
  swagger:
    enabled: false

  # Properties
  properties:
    url: http://hercules.org
  kafka:
    import-error-topic-name: import-error
  ldp:
    uri-namespace: http://hercules.org/um/es-ES/rec 
## Actuator
management:
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always
  endpoints:
    web:
      base-path: /management
  server:
    port: 9321
  health:
    mail:
      enabled: false
    ldap:
      enabled: false
      
## In case of configure web endpoints, remove it or change port number
server:
  port: 8787
  use-forward-headers: true
  tomcat:
    remote-ip-header: x-forwarded-for
    protocol-header: x-forwarded-proto

#Keycloak Configuration  
keycloak:
  auth-server-url: http://localhost:8080/auth
  realm: umasio
  resource: login-app
  security-constraints:
  - auth-roles:
    - app-login
  use-resource-role-mappings: true
  public-client: true
  credentials:
    secret: ec90abb7-0d00-4e73-ba9d-bcd4de4b47d0
  principal-attribute: preferred_username
  enabled: true
  cors: true
  bearer-only: true

# Spring configuration
spring:
  kafka:
    bootstrap-servers: localhost:29092
    consumer:
      bootstrap-servers:
        - localhost:29092
      group-id: import-error-group
    producer:
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer