---
app:
  # When is true, SPARQL query results are getted from federation services, else these information are getted from fuseki
  federation:
    services: false
  # trellis
  fusekitrellis:
    url: http://localhost:3030/trellis/sparql
  # Service who get Sparql query results from all nodes
  federationAll:
    url: http://localhost:9328/federation/nodes/all
  # Service who get Sparql query results from certain nodes
  federationNode:
    url: http://localhost:9328/federation/nodes/list
  # CORS
  cors:
    enabled: true
    allowedOrigin: '*'
    allowedMethods: GET,POST,PUT,DELETE
    allowedHeaders:
      - Authorization
      - X-Requested-With
      - Content-Type
    maxAge: 3600

  # Cache configuration
  cache:
    embedded:
      enabled: true

  # Swagger
  swagger:
    enabled: false

  # Properties
  properties:
    url: http://hercules.org

## Actuator
management:
  endpoint:
    shutdown:
      enabled: true
    health:
      show-details: always
  endpoints:
    web:
      base-path: /management
  server:
    port: 9321
  health:
    mail:
      enabled: false
    ldap:
      enabled: false
      
## In case of configure web endpoints, remove it or change port number
server:
  port: 8787
  use-forward-headers: true
  tomcat:
    remote-ip-header: x-forwarded-for
    protocol-header: x-forwarded-proto

#Keycloak Configuration  
keycloak:
  auth-server-url: https://herculesasioizertis.desa.um.es/auth
  realm: umasio
  resource: login-app
  security-constraints:
  - auth-roles:
    - app-login
  use-resource-role-mappings: true
  public-client: true
  credentials:
    secret: ec90abb7-0d00-4e73-ba9d-bcd4de4b47d0
  principal-attribute: preferred_username
  enabled: true
  cors: true
